@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<ul>@{
    foreach (var m in Model.Messages as System.Collections.Generic.Dictionary<string,string>)
    {
    <li>@m.Key = @m.Value</li>
    }
    }
</ul>
